In [30]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure,show,output_file
#the start and end parameter should be in "datetime object" format
s = datetime.datetime(2018,1,1)
e = datetime.datetime(2018,1,10)
df = data.DataReader(name="GOOG", data_source="yahoo", start= s, end= e)

p = figure(x_axis_type="datetime", width=1000, height=300)
p.title.text = "Candlestick Chart"
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,1048.339966,1066.939941,1045.229980,1065.000000,1065.000000,1237600
2018-01-03,1064.310059,1086.290039,1063.209961,1082.479980,1082.479980,1430200
2018-01-04,1088.000000,1093.569946,1084.001953,1086.400024,1086.400024,1004600
2018-01-05,1094.000000,1104.250000,1092.000000,1102.229980,1102.229980,1279100
2018-01-08,1102.229980,1111.270020,1101.619995,1106.939941,1106.939941,1047600
2018-01-09,1109.400024,1110.569946,1101.230957,1106.260010,1106.260010,902500
2018-01-10,1097.099976,1104.599976,1096.109985,1102.609985,1102.609985,1041900

In [38]:
#a function that determines whether the close price is higher than the open price
def inc_dec(c, o):
    if c > o:
        value = "Rise"
    elif c < o:
        value = "Drop"
    else:
        value = "Tie"
    return value


df["Status"] = [inc_dec(c,o) for c,o in zip(df.Close, df.Open)]  #list comprehension
df["Mid"] = (df.Open + df.Close)/2
df["Height"] = abs(df.Open - df.Close)

df

,Open,High,Low,Close,Adj Close,Volume,Status,Mid,Height
Date,,,,,,,,,
2018-01-02,1048.339966,1066.939941,1045.229980,1065.000000,1065.000000,1237600,Rise,1056.669983,16.660034
2018-01-03,1064.310059,1086.290039,1063.209961,1082.479980,1082.479980,1430200,Rise,1073.395019,18.169921
2018-01-04,1088.000000,1093.569946,1084.001953,1086.400024,1086.400024,1004600,Drop,1087.200012,1.599976
2018-01-05,1094.000000,1104.250000,1092.000000,1102.229980,1102.229980,1279100,Rise,1098.114990,8.229980
2018-01-08,1102.229980,1111.270020,1101.619995,1106.939941,1106.939941,1047600,Rise,1104.584961,4.709961
2018-01-09,1109.400024,1110.569946,1101.230957,1106.260010,1106.260010,902500,Drop,1107.830017,3.140014
2018-01-10,1097.099976,1104.599976,1096.109985,1102.609985,1102.609985,1041900,Rise,1099.854981,5.510009

In [40]:
#we build two types of rectangles-- one where the close price is higher, another one where the close price is lower
hours_12 = 12*60*60*1000  #convert the width, which is 12 hours, to miliseconds

#p.rect(df.index[df.Close >= df.Open], (df.Open+df.Close)/2, hours_12, abs(df.Open - df.Close))
p.rect(df.index[df.Status == "Rise"], df.Mid[df.Status == "Rise"],hours_12, df.Height[df.Status == "Rise"], 
       fill_color = "red", line_color = "black" )

p.rect(df.index[df.Status == "Drop"], df.Mid[df.Status == "Drop"],hours_12, df.Height[df.Status == "Drop"], 
       fill_color = "green", line_color = "black" )

output_file("Graph.html")
show(p)