In [11]:
from pandas_datareader import data
import datetime
#the start and end parameter should be in "datetime object" format
s = datetime.datetime(2017,12,1)
e = datetime.datetime(2018,1,10)
df = data.DataReader(name="AAPL", data_source="yahoo", start= s, end= e)

print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-12-01,169.949997,171.669998,168.500000,171.050003,171.050003,39759300
2017-12-04,172.479996,172.619995,169.630005,169.800003,169.800003,32542400
2017-12-05,169.059998,171.520004,168.399994,169.639999,169.639999,27350200
2017-12-06,167.500000,170.199997,166.460007,169.009995,169.009995,28560000
2017-12-07,169.029999,170.440002,168.910004,169.320007,169.320007,25673300
2017-12-08,170.490005,171.000000,168.820007,169.369995,169.369995,23355200
2017-12-11,169.199997,172.889999,168.789993,172.669998,172.669998,35273800
2017-12-12,172.149994,172.389999,171.460007,171.699997,171.699997,19409200
2017-12-13,172.500000,173.539993,172.000000,172.270004,172.270004,23818400
2017-12-14,172.399994,173.130005,171.649994,172.220001,172.220001,20476500
2017-12-15,173.630005,174.169998,172.460007,173.970001,173.970001,40169300
2017-12-18,174.880005,177.199997,174.860001,176.419998,176.419998,29421100
2017-12-19,175.029999,175.389999,174.089996,174.539993,174.539993,27436400
2017-12-20,174.869995,175.419998,173.250000,174.350006,174.350006,23475600
2017-12-21,174.169998,176.020004,174.100006,175.009995,175.009995,20949900
2017-12-22,174.679993,175.419998,174.500000,175.009995,175.009995,16349400
2017-12-26,170.800003,171.470001,169.679993,170.570007,170.570007,33185500
2017-12-27,170.100006,170.779999,169.710007,170.600006,170.600006,21498200
2017-12-28,171.000000,171.850006,170.479996,171.080002,171.080002,16480200
2017-12-29,170.520004,170.589996,169.220001,169.229996,169.229996,25999900
2018-01-02,170.160004,172.300003,169.259995,172.259995,172.259995,25555900
2018-01-03,172.529999,174.550003,171.960007,172.229996,172.229996,29517900
2018-01-04,172.539993,173.470001,172.080002,173.029999,173.029999,22434600
2018-01-05,173.440002,175.369995,173.050003,175.000000,175.000000,23660000
2018-01-08,174.350006,175.610001,173.929993,174.350006,174.350006,20567800
2018-01-09,174.550003,175.059998,173.410004,174.330002,174.330002,21584000
2018-01-10,173.160004,174.300003,173.000000,174.289993,174.289993,23672000